/*@import url(https://fonts.googleapis.com/css?family=Shojumaru);*/

/* latin */
@font-face {
    font-family: 'Shojumaru';
    font-style: normal;
    font-weight: 400;
    src: local('Shojumaru'), local('Shojumaru-Regular'), url('../fonts/rax_HiWfutkLLnaKCtl8Axhf.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

select {
    background-color: #fff;
}

.ch-container {
    padding: 0 15px;
}

footer {
    clear: both;
}

div.center, p.center, img.center {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
    display: block;
    text-align: center;
}


.sidebar-nav {
    min-height: 0;
    box-shadow: 0 0 10px #BDBDBD;
    border-radius: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
    max-height: none;
}

.sidebar-nav > ul > li:not(.nav-header) {
    margin-right: -2px;
    margin-left: -2px;
}

.navbar-brand {
    font-family: 'Shojumaru', cursive, Arial, serif;
    letter-spacing: 2px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    width: 220px;
    font-size: 17px;
}

.navbar-brand img {
    float: left;
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.navbar-brand span {
    float: left;
}

.navbar-inner {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 30px;
    height: 60px;
}

td {
    width: 50%;
}

.navbar-inner .btn-group {
    margin: 7px 5px 0 5px;
}

.box-content .nav-tabs {
    margin-right: -10px;
    margin-left: -10px;
}

.pre-scrollable {
    max-height: 400px;
    overflow-y: scroll;
}

.login-header {
    padding-top: 30px;
    height: 120px;
    margin-top: 36px;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.remember {
    margin-top: 3px;
}

.green {
    color: #458746;
}

.red {
    color: #B94846;
}

.blue {
    color: #3986AC;
}

.yellow {
    color: #F99406;
}

.login-box .input-prepend {
    margin-bottom: 10px;
}

.login-box .btn {
    margin: 5px 0 0 5px;
}

.input-group {
    float: left;
    width: 90%;
}

.form-control {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.dropdown-menu {
    right: 0;
}

.breadcrumb >li > a:hover {
    text-decoration:none;
}

.main-menu > li > a {
    border: 1px solid rgba(221, 221, 221, 0.46);
    padding: 8px 15px;
}

.main-menu > li {
    margin-top: 0 !important;
}

.mb0 {
    margin-bottom: 0;
}

.quit {
    margin-right: 9px;
}

.wellDiv {
    min-height: 20px;
    padding: 19px;
    background-color: #fafafa;
    border-radius: 4px;
}

.wellDiv > p {
    margin: auto;
}

.sidebar-nav .nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 35px;
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

.navbar {
    border-radius: 0;
}

ul.main-menu li:hover {
    margin-left: 8px;
}

ul.main-menu li.active {
    margin-left: 8px;
}

ul.main-menu li.nav-header:hover {
    margin-left: 0;
}

ul.main-menu li:not(.nav-header) {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.nav-sm {
    display: none;
}

.powered-by {
    text-align: right;
}

.whitespace:before {
    content: "\2122";
    color: transparent !important;
}