<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>连接到ZooKeeper</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/static/css/bootstrap-lumen.min.css" rel="stylesheet"/>
    <link href="/static/css/zkgui.css" rel="stylesheet"/>
</head>
<body>
<div class="ch-container">
    <div class="row">
        <div class="col-sm-8 col-lg-8 center login-header">
            <h2>ZooKeeper GUI</h2>
        </div>
    </div>
    <div class="row">
        <div class="well col-sm-10 col-lg-10 center login-box">
            <form class="form-horizontal" th:action="@{/}" method="post">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-cog red"></i></span>
                    <input autocomplete="off" type="text" name="connectString"
                           class="form-control typeahead" placeholder="连接字符串"/>
                </div>
                <button type="submit" class="btn btn-primary">连接</button>
            </form>
        </div>
    </div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.typeahead.min.js"></script>
<script th:inline="javascript">
    $(".typeahead").typeahead({
        source: [[${history}]],
        showHintOnFocus: "all"
    });
</script>
</body>
</html>