<!DOCTYPE HTML>
<html>
<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/static/css/bootstrap-lumen.min.css" rel="stylesheet"/>
    <link href="/static/css/zkgui.css" rel="stylesheet"/>
</head>
<body>
<div class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
        <a class="navbar-brand" href="/"><span>ZooKeeper GUI</span></a>
    </div>
</div>
<div class="ch-container">
    <div class="row">
        <div>
            <ul class="breadcrumb">
                <li>
                    <a href="/chartsOnly">首页</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-lg-4">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked"></div>
                    <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header">子节点</li>
                        <li>
                            <a href="/">
                                <i class="glyphicon glyphicon-home"></i>
                                <span>首页</span></a>
                        </li>
                        <li>
                            <a href="/zone">
                                <i class="glyphicon glyphicon-eye-open"></i>
                                <span>Zone</span></a>
                        </li>
                        <li>
                            <a href="/a">
                                <i class="glyphicon glyphicon-edit"></i>
                                <span>A记录</span></a>
                        </li>
                        <li>
                            <a href="/cname">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span>CNAME</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked"></div>
                    <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header">状态</li>
                        <li>
                            <a href="/">
                                <i class="glyphicon glyphicon-home"></i>
                                <span>首页</span></a>
                        </li>
                        <li>
                            <a href="/zone">
                                <i class="glyphicon glyphicon-eye-open"></i>
                                <span>Zone</span></a>
                        </li>
                        <li>
                            <a href="/a">
                                <i class="glyphicon glyphicon-edit"></i>
                                <span>A记录</span></a>
                        </li>
                        <li>
                            <a href="/cname">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span>CNAME</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked"></div>
                    <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header">数据</li>
                        <li>
                            <a href="/">
                                <i class="glyphicon glyphicon-home"></i>
                                <span>首页</span></a>
                        </li>
                        <li>
                            <a href="/zone">
                                <i class="glyphicon glyphicon-eye-open"></i>
                                <span>Zone</span></a>
                        </li>
                        <li>
                            <a href="/a">
                                <i class="glyphicon glyphicon-edit"></i>
                                <span>A记录</span></a>
                        </li>
                        <li>
                            <a href="/cname">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span>CNAME</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer style="margin-top: 50px;">
        <p class="col-md-9 col-sm-9 col-xs-12 copyright">
            &copy;zyc 2018
        </p>
    </footer>
</div>
</body>
</html>