<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/static/css/bootstrap-lumen.min.css" rel="stylesheet"/>
    <link href="/static/css/zkgui.css" rel="stylesheet"/>
</head>
<body>
<div class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
        <a class="navbar-brand" href="/"><span>ZooKeeper GUI</span></a>

        <div class="btn-group pull-right">
            <button onclick="window.location = '/quit'" class="btn btn-default" data-toggle="tooltip">
                <i class="glyphicon glyphicon-off"></i>退出
            </button>
        </div>
    </div>
</div>
<div class="ch-container" th:with="requestUrl=@{${#httpServletRequest.getRequestURI()}}">
    <div class="row">
        <div>
            <ul class="breadcrumb">
                <li th:each="part:${requestUrl.split('/')}" th:if="${part ne ''}">
                    <a th:href="@{${requestUrl.substring(0, requestUrl.indexOf(part) + part.length())}}">
                        <span th:text="${part}"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-lg-4">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header">子节点</li>
                        <li th:each="child:${children}">
                            <a th:href="@{${requestUrl + '/' + child}}">
                                <span th:text="${child}"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="nav-header">状态</li>
                        <li>
                            <table class="table-striped table-bordered table mb0">
                                <tbody th:object="${stat}">
                                    <tr>
                                        <td>numChildren</td>
                                        <td th:text="*{numChildren}"></td>
                                    </tr>
                                    <tr>
                                        <td>dataLength</td>
                                        <td th:text="*{dataLength}"></td>
                                    </tr>
                                    <tr>
                                        <td>ephemeralOwner</td>
                                        <td th:text="*{ephemeralOwner}"></td>
                                    </tr>
                                    <tr>
                                        <td>czxid</td>
                                        <td th:text="*{czxid}"></td>
                                    </tr>
                                    <tr>
                                        <td>mzxid</td>
                                        <td th:text="*{mzxid}"></td>
                                    </tr>
                                    <tr>
                                        <td>pzxid</td>
                                        <td th:text="*{pzxid}"></td>
                                    </tr>
                                    <tr>
                                        <td>version</td>
                                        <td th:text="*{version}"></td>
                                    </tr>
                                    <tr>
                                        <td>cversion</td>
                                        <td th:text="*{cversion}"></td>
                                    </tr>
                                    <tr>
                                        <td>aversion</td>
                                        <td th:text="*{aversion}"></td>
                                    </tr>
                                    <tr>
                                        <td>ctime</td>
                                        <td th:text="*{ctime}"></td>
                                    </tr>
                                    <tr>
                                        <td>mtime</td>
                                        <td th:text="*{mtime}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="nav-header">数据</li>
                        <li>
                            <div class="wellDiv mb0">
                                <p style="word-break:break-all;" th:text="${data}"></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer style="margin-top: 50px;">
        <p class="col-md-9 col-sm-9 col-xs-12 copyright">
            &copy;zyc 2018
        </p>
    </footer>
</div>
</body>
</html>