<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/static/css/bootstrap-lumen.min.css" rel="stylesheet"/>
    <link href="/static/css/zkgui.css" rel="stylesheet"/>
</head>
<body>
<div class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
        <a class="navbar-brand" href="/"><span>ZooKeeper GUI</span></a>

        <div class="btn-group pull-right">
            <button class="btn btn-default" >
                <i class="glyphicon glyphicon-off"></i><span class="hidden-sm hidden-xs">退出</span>
                <span class="caret"></span>
            </button>
        </div>
    </div>
</div>
<div class="ch-container">
    <div class="row">
        <div>
            <ul class="breadcrumb">
                <li><a href="/">/</a></li>
                <!--<li th:each="child:${children}">
                    <a th:href="../${child}">${child}</a>
                </li>-->
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-lg-4">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked"></div>
                    <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header">子节点</li>
                        <li th:each="child:${children}">
                            <a th:href="@{${'../' + child}}">
                                <i class="glyphicon glyphicon-home"></i>
                                <span th:text="${child}"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked"></div>
                    <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header">状态</li>
                        <li>
                            <span>子节点个数：${stat.numChildren}</span>
                        </li>
                        <li>
                            <span>字节数据长度（byte）：${stat.dataLength}</span>
                        </li>
                        <li>
                            <span>ephemeralOwner：${stat.ephemeralOwner}</span>
                        </li>
                        <li>
                            <span>czxid：${stat.czxid}</span>
                        </li>
                        <li>
                            <span>mzxid：${stat.mzxid}</span>
                        </li>
                        <li>
                            <span>pzxid：${stat.pzxid}</span>
                        </li>
                        <li>
                            <span>version：${stat.version}</span>
                        </li>
                        <li>
                            <span>cversion：${stat.cversion}</span>
                        </li>
                        <li>
                            <span>aversion：${stat.aversion}</span>
                        </li>
                        <li>
                            <span>ctime：${stat.ctime}</span>
                        </li>
                        <li>
                            <span>mtime：${stat.mtime}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked"></div>
                    <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header">数据</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer style="margin-top: 50px;">
        <p class="col-md-9 col-sm-9 col-xs-12 copyright">
            &copy;zyc 2018
        </p>
    </footer>
</div>
</body>
</html>